.a{
    
    border: 4px solid black;
    padding: 10px;
}
.b{
    margin: 50px;
    padding: 100px;
    display: inline-block;
    height: 300px;
    width: 150px;
    text-align: center;

}
#i{
    background-color: lightblue;
}
#j{
    background-color: lightgreen;
}
#k{
    background-color: lightcoral;
}