div {
    border: 4px solid  black;
    height: 110px;
    width: 1460px;
    text-align: center;
    align-items: center;

}
.j {
    margin: 100;
}
#a {
    color: blueviolet;
    padding-top: 10px;;
    text-align: center;
}
#b {
    color: red;
    text-align: left;
    padding: 20px;
}